@import (reference) "../less/styled-components.include.less";

.carousel{
  position: relative;
  img{
    max-width : 100%;
  }

  .next,.prev{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 25px;
    width: 25px;
    cursor: pointer;
    opacity: .5;
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px;

    &:hover{
      opacity: 1;
    }
  }

  .prev{
    left: 0;
  }

  .next{
    right: 0;
  }

  @media (min-width: @screen-md) {
  }
}